body{
    margin: 0;s
    padding: 0;
    font-family: sans-serif;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/reg.jpg);
    background-size: cover;
    height: 100vh;    
}

.wrapper{
    background-color: rgba(255, 255, 255, 0.5);
    width: 800px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}


.wrapper:before{
    content: '';
    width: 350px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.header-area h2{
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%,-50%);
    width: 25%;
    border: 10px inset #fff;
    text-align: center;
    color: #fff;
    font-size: 35px;
}

.form-area{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    width: 350px;
    overflow: hidden;

}

.form-area input{
    outline: none;
    padding: 0 0 0 35px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-bottom-color: #262626;
    background: transparent;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;

}

.form-area i{
    width: 20px;
    position: absolute;
    margin-top: 15px;
}

.form-area input[type=checkbox]{
    margin: 20px 0 0 2px;
    padding: 0;
    border: 2px solid #262626;
    width: 15px;
    height: 15px;
    background-color: #fff;
    outline: none;
}

.terms{
    
    margin-right: 55px;
    font-size: 15px;
}

.form-area input[type=submit] {
    width: 100%;
    border: none;
    background-color: black;
    color: #fff;
    cursor: pointer;
    padding: 0px;

}

@media (max-width: 800px){
            .wrapper{
                width: 90%;
            }
          .header-area h2{
width:35%;
}
.form-area{
width:50%;
}
.wrapper:before{
width:40%;
}
        }