*{margin:0;padding: 0;box-sizing: border-box;}
.carousel-inner img {
    width: 100%;
    height: 90vh;
  }



   .jumbotron {
    background-color: #000000;
    color: #fff;
    padding: 100px 25px;
  }
 
.logo {
    font-size: 200px;
  }

  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }



